<!DOCTYPE html>
<html>

<div id="image-content">
    {% for image in image_name %}
    <div class="mySlides">
    <img src="/static/media/images/{{ image }}" style="width:75%">
    <p>Filename: {{ image }}</p>
    </div>
    {% endfor %} 
</div>

<script>

    let slideIndex = 0;
    showSlides();
        
    function showSlides() {

        let i;
        let slides = document.getElementsByClassName("mySlides");

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }

    slideIndex++;
    slides[slideIndex-1].style.display = "block";

          //restart the slideshow once the last image is shown
      
    setTimeout(showSlides, 4000); // Change image every 4 seconds
    }

</script>

</html>