<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <meta charset="utf-8">
      <!-- <link rel="stylesheet" href="/static/style.css"> -->
   </head>



<button type="button" id="home-btn"><a href="/"><b>Home</b></a></button>
<button type="button" id="image-btn"><a href="javascript:toggle('img-win')" ><b>images</b></a></button>              
<button type="button" id="video-btn"><a href="javascript:toggle('vid-win')" ><b>videos</b></a></button>


<div id="home-screen">
   <h2>Good Day! The current date and time is {{ time }}</h2>
</div>

<div id="img-win" style="display:none;"></div>

<div id="vid-win" style="display:none;"></div>



<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type='text/javascript'>

//load the image & video html into the respective divs
$(document).ready(function() {
 $("#img-win").load('/image');
   $(document).delegate('#home-btn', 'click', function() {
      clearInterval(x)
   });
   
   // $(document).delegate('#image-btn', 'click', function() {
   //    $('#img-win').load('/image');
   // });

   // $(document).delegate('#video-btn', 'click', function() {
   //    $('#vid-win').load('/video');

   //    //how do i target the loaded videos?
   //    $('video').play();
   // });
   });
</script>

<script>
//toggles between the image div and video div
   var divs = [ "img-win", "vid-win" ];
      function toggle(layer) {
          var d
          for(var i = 0; i < divs.length; i += 1) {
              d = document.getElementById(divs[i]);
              d.style.display = 'none';
          }
          d = document.getElementById(layer);
          d.style.display = '';

      }

   </script>


</html>