<!DOCTYPE html>
<html>


<div id="video-content">
   {% for video in video_name %}
   <div class="mySlides">
      <img src="/static/media/videos/{{ video }}" style="width:75%">
      <p>Filename: {{ video }}</p>
   </div>
   {% endfor %} 
</div>

      <div id = "vid-div">
         <video id="video1" width="100%" height="100%" allowfullscreen>
         <source src="/static/media/video.mp4" type="video/mp4">
         </video>
      </div>
      <!-- <div>
         <div id="btn-row">
            <button class="button" type="button" onclick="playVid()">Play</button>
            <button class="button" type="button" onclick="pauseVid()">Pause</button>
            <button class="button" type="button" onclick="nextVid()">Next</button> -->
         </div>
      </div> -->
   
   <script> 
      // var vid = document.getElementById("video1"); 
      
      // function playVid() { 
      //   vid.play(); 
      // } 
      
      // function pauseVid() { 
      //   vid.pause(); 
      // } 

      // function nextVid() { 
      //   vid.currentTime += 10; 
      // }

      </script> 
</html>