<!DOCTYPE html>
<html>

<div id="vid-carousel">
   {% for video in video_name %}
   <div>
      <video id="video" width="100%" height="100%" allowfullscreen>
      <source src="/static/media/videos/{{ video }}" type="video/mp4">
      </video>
   </div>
   {% endfor %} 
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type='text/javascript'>

// var video = $('video').get(0);

// $(document).delegate('#play-btn', 'click', function() {
//         video.load();
//         video.play();
//         $('#play-button').addClass('hide');
//     });


//when button !== video is pressed then the video will pause and execute the button function
//set variable to record the video.currentTime
//video button will pause video if pressed while video is playing

// $(document).delegate('#pause-btn', 'click', function() {
//    if (video.paused !== true && video.ended !== true) {
//          video.pause();
//    } else {
//       video.play();
//       }
//     });


// $(document).delegate('#stop', 'click', function() {
//         video.pause();
//         video.currentTime = 0;
//     });

// $(document).ready(function() {
//     $("#vid-carousel > div:gt(0)").hide();
// });

// setInterval(function() { 
//   $('#vid-carousel > div:first')
//   .fadeOut(1000)
//   .next()
//   .fadeIn(1000)
//   .end()
//   .appendTo('#vid-carousel');
// }, 3000);
   
</script>

</html>